.editorpage-container {
    background-color: black;
    width: 80%;
}

.editorpage-backbutton {
    width: 35px;
    height: 35px;
    color: white;
    cursor: pointer;
    transition: 0.5s ease;

}

.editorpage-backbutton:hover {
    transition: 0.3s ease;
    color: purple;
}

.editorpage-background {
    min-height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.editorpage-mdeditor {
    width: 100%;
    height: 100%;
}

.editorpage-bottombar {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.editorpage-title-section {
    width: 80%;
    display: flex;
    gap: 10px;
}

.editorpage-title-input,
.editorpage-author-input {
    color: white;
    padding: 10px;
    padding-left: 10px;
    margin-bottom: 5px;
    border: none;
    border-radius: 20px;
    font-size: 1.2em;
    background-color: #1f1f1f;
}

.editorpage-title-input:focus,
.editorpage-author-input:focus {
    outline: none !important;
    border: 1px solid purple;
}