.publishwritingbutton {
    width: 250px;
    height: 40px;
    background-color: #ffffff;
    color: black;
    border-radius: 50px;
    border: 0px;
    cursor: pointer;

    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.publishwritingbutton:hover {
    background-color: #7a007a;
    color: white;
    transition: 0.3s ease;
}